/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primaryold: #3358ff;
  --primary: #00a6ff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --blue: #adf1fe;
  --blue--dim: #6fcbdd;
  --bluemed: #88e3f3;
  --blueshadowold: #1e8fc7;
  --blueshadow: #1e8fc7;
  --bluebright: #00a2ff;
  --greyfade: #999999;
  --red--dim: #E58282;
  --red--dark: #D05353;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 36px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

button {
  font-family: 'Montserrat', sans-serif;
}

form {
  flex-grow: 1;
}

.u-logofont {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-justifyFlexEnd {
  justify-content: flex-end;
}

.u-flex-justifyFlexStart {
  justify-content: flex-start;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-circular {
  border-radius: 50%;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-pageWrap {
  max-width: 960px;
  padding: calc(2 * var(--xl) - 6px) var(--m);
  margin: auto;
  text-align: center;
}

.u-pageTitle {
  margin-bottom: calc(var(--xl) + var(--s));
  font-size: 80px;
}

.u-pageDescription {
  margin-bottom: var(--l);
  color: #555555;
  font-size: 24px;
}

.u-refresh {
  border-radius: var(--s);
  height: 40%;
  width: 16%;
  border: none;
  padding: var(--s);
  background-color: var(--bluemed);
  padding: var(--m);
  font-size: 18px;
  color: #555555;
  margin: var(--l) 0 var(--l) auto;
  cursor: pointer;
}

.u-mainbutton {
  border-radius: var(--s);
  height: 40%;
  width: 16%;
  border: none;
  padding: var(--s);
  background-color: var(--bluemed);
  padding: var(--m);
  font-size: 18px;
  color: #555555;
  margin-bottom: var(--xl);
  cursor: pointer;
}
/*
 * 3d shadow pop effect inspired by https://css-tricks.com/3d-text-tower/
 */

.u-shadowPop { 
  color: white;
  top: 0;
  left: 0;
  -webkit-transition: all 0.12s ease;
  -moz-transition:    all 0.12s ease;
  -ms-transition:     all 0.12s ease;
  -o-transition:      all 0.12s ease;
  transition:      all 0.2s ease;
}

.u-shadowPop:hover {
  position: relative; 
  top: -24px; 
  left: -24px;
}

.u-shadowPopBlue { 
  text-shadow: 8px 8px #03d0f7, 
               16px 16px #03c0e4, 
               24px 24px #03b0d1;
}

.u-shadowPopBlue:hover {
  text-shadow: 8px 8px   #03d0f7, 
               16px 16px #03c0e4, 
               24px 24px #03b0d1,
               32px 32px #029fbd, 
               40px 40px #028faa;
}

.u-shadowPopPink { 
  text-shadow: 8px 8px #f6d9fc, 
               16px 16px #ddc3e2, 
               24px 24px #c4adc9;
}

.u-shadowPopPink:hover {
  text-shadow: 8px 8px   #f6d9fc, 
               16px 16px #ddc3e2, 
               24px 24px #c4adc9,
               32px 32px #ac97b0, 
               40px 40px #938297;
} 

.u-shadowPopPurple { 
  text-shadow: 8px 8px #b592f0, 
               16px 16px #a283d8, 
               24px 24px #9074c0;
}

.u-shadowPopPurple:hover {
  text-shadow: 8px 8px   #b592f0, 
               16px 16px #a283d8, 
               24px 24px #9074c0,
               32px 32px #7e66a8, 
               40px 40px #6c5790;
}

.u-shadowPopOrange { 
  text-shadow: 8px 8px   #ec9272, 
               16px 16px #ea8561, 
               24px 24px #bc745b;
}

.u-shadowPopOrange:hover {
  text-shadow: 8px 8px   #ec9272, 
               16px 16px #ea8561, 
               24px 24px #bc745b,
               32px 32px #a5664f, 
               40px 40px #8d5744;
}

.u-shadowPopYellow { 
  text-shadow: 8px 8px   #f3c583, 
               16px 16px #f1bd71, 
               24px 24px #dab175;
}

.u-shadowPopYellow:hover {
  text-shadow: 8px 8px   #f3c583, 
               16px 16px #f1bd71, 
               24px 24px #dab175,
               32px 32px #c29d68, 
               40px 40px #aa895b;
}

.u-buttonHoverRise {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.u-buttonHoverRise:hover {
  -webkit-transform: scale(1.01); 
  -moz-transform:    scale(1.01);
  -ms-transform:     scale(1.01); 
  -o-transform:      scale(1.01);
  transform: scale(1.1);
}