.Home-container {
    min-height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: 42vh 6vh 42vh;
    grid-template-areas:
        "requests   requests    profile  profile"
        ".          logo        logo     .      "
        "incoming   incoming    deck     deck   ";
    column-gap: 5vw;
    row-gap: 5vh;
}

.Home-requestGroup {
    grid-area: requests;
}

.Home-profileGroup {
    grid-area: profile;
}

.Home-incomingGroup {
    grid-area: incoming;
}

.Home-deckGroup {
    grid-area: deck;
}

.Home-topWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home-topGroup {
    padding-top: 8vh;
}
.Home-bottomGroup {
    padding-bottom: 8vh;
}

.Home-leftGroup {
    padding-left: 5vw;    
}

.Home-rightGroup {
    padding-right: 5vw;
}

.Home-logoText {
    grid-area: logo;
    font-size: 64px;
    color: #10669F;
    background-color: none;
    justify-self: center;
    align-self: center;
}    

.Home-iconText {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    height: 20%;
}

.Home-iconWrapper {
    height: 100%;
    width: 100%;
}

.Home-icon {
    height: 100%;
    max-width: 100%;
}