.Home-container {
    min-height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: 38vh 5vh 47vh;
    grid-template-areas:
        "requests    profile"
        "logo        logo   "
        "incoming    deck   ";
    column-gap: 5vw;
    row-gap: 5vh;
}

.Home-requestGroup {
    grid-area: requests;
}

.Home-profileGroup {
    grid-area: profile;
}

.Home-incomingGroup {
    grid-area: incoming;
}

.Home-deckGroup {
    grid-area: deck;
}

.Home-topWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home-topGroup {
    padding-top: 5vh;
}
.Home-bottomGroup {
    padding-bottom: 5vh;
}

.Home-leftGroup {
    padding-left: 5vw;    
}

.Home-rightGroup {
    padding-right: 5vw;
}

.Home-logoText {
    grid-area: logo;
    font-size: 64px;
    color: #10669F;
    background-color: none;
    justify-self: center;
    align-self: center;
    text-shadow: 2px 2px var(--primary--dim);
}    

.Home-iconText {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    height: 28%;
}

.Home-iconTextBottom {
    padding-top: 2%;
}

.Home-iconWrapperTopL {
    height: 72%;
    max-width: 75%;
}

.Home-iconWrapperTopR {
    height: 70%;
    max-width: 69%;
}

.Home-iconWrapper {
    height: 70%;
    max-width: 80%;
}

.Home-icon {
    height: 100%;
    max-width: 100%;
}