.Home-container {
    min-height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: 38vh 5vh 47vh;
    grid-template-areas:
        "requests    profile"
        "logo        logo   "
        "incoming    deck   ";
    column-gap: 5vw;
    row-gap: 5vh;
}

.Home-requestsGroup {
    grid-area: requests;
}

.Home-profileGroup {
    grid-area: profile;
}

.Home-incomingGroup {
    grid-area: incoming;
}

.Home-deckGroup {
    grid-area: deck;
}

.Home-topWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home-topGroup {
    padding-top: 5vh;
}
.Home-bottomGroup {
    padding-bottom: 5vh;
}

.Home-leftGroup {
    padding-left: 5vw;    
}

.Home-rightGroup {
    padding-right: 5vw;
}

.Home-logoText {
    grid-area: logo;
    font-size: 80px;
    font-weight: 900;
    justify-self: center;
    align-self: center;
    margin: var(--xl);
    padding: var(--xl);
    cursor: pointer;
}

.Home-iconText {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    height: 28%;
}

.Home-iconTextBottom {
    padding-top: 2%;
}

.Home-iconWrapperTopL {
    height: 72%;
    max-width: 75%;
}

.Home-iconWrapperTopR {
    height: 70%;
    max-width: 69%;
}

.Home-iconWrapper {
    height: 70%;
    max-width: 80%;
}

.Home-icon {
    height: 100%;
    max-width: 100%;
}

.Home-requestsText {
    font-size: 38px;
    text-decoration: none;
    color: white;
    top: 0;
    left: 0;
    -webkit-transition: all 0.12s ease;
    -moz-transition:    all 0.12s ease;
    -ms-transition:     all 0.12s ease;
    -o-transition:      all 0.12s ease;
    transition:      all 0.2s ease;
    text-shadow: 3px 3px #f6d9fc, 
                6px 6px #ddc3e2, 
                9px 9px #c4adc9;
      }

.Home-requestsGroup:hover .Home-requestsText {
    position: relative; 
    top: -9px; 
    left: -9px;
    text-shadow: 3px 3px   #f6d9fc, 
                6px 6px #ddc3e2, 
                9px 9px #c4adc9,
                12px 12px #ac97b0, 
                15px 15px #938297;
}

.Home-requestsIcon {
    transition: transform 0.2s ease;
}

.Home-requestsGroup:hover .Home-requestsIcon {
    -webkit-transform: scale(1.08); 
    -moz-transform:    scale(1.08);
    -ms-transform:     scale(1.08); 
    -o-transform:      scale(1.08);
    transform: scale(1.08);
}



.Home-profileText {
    font-size: 38px;
    text-decoration: none;
    color: white;
    top: 0;
    left: 0;
    -webkit-transition: all 0.12s ease;
    -moz-transition:    all 0.12s ease;
    -ms-transition:     all 0.12s ease;
    -o-transition:      all 0.12s ease;
    transition:      all 0.2s ease;
    text-shadow: 3px 3px #b592f0, 
    6px 6px #a283d8, 
    9px 9px #9074c0;
  }
  
  .Home-profileGroup:hover .Home-profileText {
    position: relative; 
    top: -9px; 
    left: -9px;
    text-shadow: 3px 3px   #b592f0, 
    6px 6px #a283d8, 
                 9px 9px #9074c0,
                 12px 12px #7e66a8, 
                 15px 15px #6c5790;
  }

    
.Home-profileIcon {
    transition: transform 0.2s ease;
}

.Home-profileGroup:hover .Home-profileIcon {
    -webkit-transform: scale(1.08); 
    -moz-transform:    scale(1.08);
    -ms-transform:     scale(1.08); 
    -o-transform:      scale(1.08);
    transform: scale(1.08);
}


  .Home-incomingText {
    font-size: 38px;
    text-decoration: none;
    color: white;
    top: 0;
    left: 0;
    -webkit-transition: all 0.12s ease;
    -moz-transition:    all 0.12s ease;
    -ms-transition:     all 0.12s ease;
    -o-transition:      all 0.12s ease;
    transition:      all 0.2s ease;
    text-shadow: 3px 3px #ec9272, 
                 6px 6px #ea8561, 
                 9px 9px #bc745b;
  }

  .Home-incomingGroup:hover .Home-incomingText {
    position: relative; 
    top: -9px; 
    left: -9px;
    text-shadow: 3px 3px   #ec9272, 
                 6px 6px   #ea8561, 
                 9px 9px   #bc745b,
                 12px 12px #a5664f, 
                 15px 15px #8d5744;
  }
  
  .Home-incomingIcon {
    transition: transform 0.2s ease;
}

.Home-incomingGroup:hover .Home-incomingIcon {
    -webkit-transform: scale(1.08); 
    -moz-transform:    scale(1.08);
    -ms-transform:     scale(1.08); 
    -o-transform:      scale(1.08);
    transform: scale(1.08);
}
  .Home-deckText {
    font-size: 38px;
    text-decoration: none;
    color: white;
    top: 0;
    left: 0;
    -webkit-transition: all 0.12s ease;
    -moz-transition:    all 0.12s ease;
    -ms-transition:     all 0.12s ease;
    -o-transition:      all 0.12s ease;
    transition:      all 0.2s ease;
    text-shadow: 3px 3px #f3c583, 
                 6px 6px #f1bd71, 
                 9px 9px #dab175;
  }
  
  .Home-deckGroup:hover .Home-deckText {
    position: relative; 
    top: -9px; 
    left: -9px;
    text-shadow: 3px 3px   #f3c583, 
                 6px 6px   #f1bd71, 
                 9px 9px   #dab175,
                 12px 12px #c29d68, 
                 15px 15px #aa895b;
  }
  .Home-deckIcon {
    transition: transform 0.2s ease;
}

.Home-deckGroup:hover .Home-deckIcon {
    -webkit-transform: scale(1.08); 
    -moz-transform:    scale(1.08);
    -ms-transform:     scale(1.08); 
    -o-transform:      scale(1.08);
    transform: scale(1.08);
}

.Home-modalText {
    text-align: center;
    align-items: center;
}
.Home-modalTextIntro {
    font-size: 18px;
    margin-bottom: var(--l);
}

.Home-modalTextBullets {
    margin-bottom: var(--m);
    color: #555555;
    text-align: left;
}

.Home-modalTextBulletPoint {
    margin-bottom: var(--s);
}

.Home-modalTextClosing {
    margin-bottom: var(--m);
}