.IncomingCard-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--m);
  margin-top: var(--m);
  background: white;
  
}

.IncomingCard-container:first-of-type {
  margin-top: var(--l);
}

.Incoming-text {
  padding: var(--l);
  text-align: left;
}

.Incoming-buttonholder {
  width: 22%;
  margin-right: var(--m);
}


.IncomingCard-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.IncomingCard-storyContent {
  font-size: 20px;
}

.IncomingCard-commentSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
  border-bottom-left-radius: var(--m);
  border-bottom-right-radius: var(--m);
  padding: var(--s) 0;
}

.IncomingCard-commentBody {
  margin: 0 0 var(--s);
}

.Incoming-button {
  border-radius: var(--s);
  margin-left: var(--m);
  margin-bottom: var(--s);
  height: 50%;
  width: 100%;
  border: none;
  padding: var(--s);
  font-size: 16px;
}

.Incoming-declineButton {
  background: #ff9191;
}

.Incoming-addButton {
  background: #6bffae;
}
