.Musicard-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
}

.Musicard-story,
.Musicard-commentSection {
  padding: var(--m) var(--l);
}

.Musicard-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.Musicard-storyContent {
  font-size: 40px;
  margin: var(--s) 0 0;
}

.Musicard-commentSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
}

.Musicard-commentBody {
  margin: 0 0 var(--s);
}
