.MusicPreview-img {
  background-color: black;
  border-radius: var(--l);
  max-width: 100%;
}

.MusicPreview-imgContainer {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--l);
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 28%;
  width: fit-content;
  cursor: pointer;
}

.MusicPreview-imgContainer:hover .MusicPreview-playButton {
  opacity: 100%;
}

.shadow {
  -webkit-filter: drop-shadow( 1px 2px 5px #787878 );
  filter: drop-shadow( 1px 2px 8px #787878 );
  /* Similar syntax to box-shadow */
}

.MusicPreview-playButton {

  transition: opacity 0.2s ease;
  opacity: 0%;
  text-shadow: 10px;
  position: absolute;
  top: 28%; 
  width: 38%;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100;
}