.MusicPreview-img {
  background-color: black;
  border-radius: var(--l);
  max-width: 100%;
}

.MusicPreview-imgContainer {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--l);
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 28%;
  width: fit-content;
}

.MusicPreview-imgContainer:hover .MusicPreview-playButton {
  display: block;
}

.MusicPreview-playButton {
  display: none;
  position: absolute;
  top: 28%; 
  width: 38%;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100;
}