*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.NavBar-iconGroup {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavBar-iconGroup:hover {
  text-shadow: var(--white) 1px 0px 10px;
}

.NavBar-icon {
  max-width: 80%;
}

.NavBar-logo {
  font-size: var(--xl);
  padding: 5% 0;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;
}

  