.NewPostInput-input,
.NewPostInput-button {
  font-size: 14px;
  padding: var(--s) var(--m);
}

.NewPostInput-input {
  max-width: 50%;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--s);
  transition: box-shadow 0.1s;
  margin: 0 var(--s);
}

.NewPostInput-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewPostInput-button {
  cursor: pointer;
  border-radius: var(--l);
  border: 6px solid #7ACCDA;
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  color: #7ACCDA;
}

.NewPostInput-button:hover {
  color: var(--white);
  background-color: var(--primary);
}
.NewRequest-main {
  justify-content: space-around;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--m);
  margin-top: var(--m);
  background-color: var(--white);
  text-align: left;
  display: flex;
  margin-bottom: var(--l);
  padding: var(--m) 0 var(--m) var(--l);
}

.NewPostInput-post {
  width: 50%;
}

.NewPostInput-addSong {
  width: 50%;
}

.NewRequest-text {
  font-size: 20px;
  margin: var(--s) 0 0;
  width: 90%
}