.RequestCard-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--m);
  margin-top: var(--m);
  background-color: var(--white);
  text-align: left;
  display: flex;
}

.RequestCard-container:first-of-type {
  margin-top: var(--l);
}

.RequestCard-story,
.RequestCard-commentSection {
  padding: var(--m) 0 var(--m) var(--l);
}

.RequestCard-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.RequestCard-storyContent {
  font-size: 20px;
  margin: var(--s) 0 0;
}

.RequestCard-commentSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
}

.RequestCard-commentBody {
  margin: 0 0 var(--s);
}

.RequestCard-infoSection {
  width: 80%;
}

.RequestCard-tradeSection {
  text-align: center;
  padding: var(--m) var(--l) var(--m) var(--s);
  width: 20%;
  justify-content: center;
}

.RequestCard-Text {
  width: 90%;
  padding: var(--m);
}

.RequestCard-user {
  font-size: 24px;
  margin-bottom: var(--m);
}

.RequestCard-lookingText {
  margin-bottom: var(--s);
}

.Request-tradeButton {
  cursor: pointer;
  border-radius: var(--s);
  height: 100%;
  width: 100%;
  border: none;
  padding: var(--s);
  background-color: var(--bluemed);
  padding: var(--m);
  font-size: 18px;

}

.RequestCard-chosenSongSection {
  height: 50%;
}

.RequestCard-buttongroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.RequestCard-cancelConfirm {
  cursor: pointer;
  border-radius: var(--s);
  border: none;
  width: 100%;
  padding: var(--m);
  font-size: 15px;
}

.RequestCard-cancel {
  background-color: #ff9191;
}

.RequestCard-confirm {
  background-color: #6bffae;
}