.HeartIcon {
  width: 25px;
  height: 25px;
}

.SingleIncomingRate-content {
  text-align: center;
}

.Incoming-RequestedInfo {
  margin-bottom: var(--m);
  color: var(--greyfade);
  font-size: 16px;
}