* {
    background-color: var(--blue);
    text-align: center;
    
}

.wrapper{
    display: flex;
    /* position: relative;

    */
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
}

.navbar {
    height: 100%;
    flex: 1;
}

.maincontent {
    /* margin-left: 150px;
    */
    flex: 3
}

